a.register{
    padding: 25px;
    border: 25px black;
    margin: 10px;
    margin-left: 100px;
    color: black;
    background-color: white;
    text-decoration: none;
}
a.register:hover{
    text-decoration: underline;
    color: #ffffff;
    background-color: grey;
}